.button {
    background-color: #fff;
    float: right;
    padding: 0;
    border-color: #9a9a9a;
    border-width: 1px;
    border-style:solid;
    height: 100%;
    width: 10% 
    
}



.buttonred {
    background-color: #ff583c;
    float: right;
    padding: 0;
    border-color: #9a9a9a;
    border-width: 1px;
    border-style:solid;
    height: 100%;
    width: 10% 
    
}

.buttongreen {
    background-color: #45ff3c;
    float: right;
    padding: 0;
    border-color: #9a9a9a;
    border-width: 1px;
    border-style:solid;
    height: 100%;
    width: 10% 
    
}

.words{
    font-family: 'Source Sans Pro', sans-serif;
    float: left;
    font-size: 30pt;
    width: 50%
    
}

.container-odd{
    width: 100%;
    height: 6%;
    margin: 0px;
}

.container-even{
    width: 100%;
    height: 6%;
    background-color: #ececec;
    margin: 0px;
}

